// Place all the styles related to the customer/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.title {
  font-family: 'Kokoro', cursive;
  font-size: 4rem;
  margin: 1rem auto;
}

.caption {
  font-family: 'Kokoro', cursive;
  margin: auto;
}

.cap {
  margin-bottom: 0.5rem;
  text-align: center;
}

.image {
  margin: 2rem auto;
  border: solid 1px;
  border-style: ridge;
}

table.genre_search {
  border-collapse: collapse;
  text-align: center;
  border: solid 3px;
  border-style: ridge;
  margin: 3rem auto;
  table-layout: auto;
  width: 60%;
}

.genre_search_thead {
  border: solid 3px;
  border-style: ridge;
}

.genre_search_th {
  background-color: #fce043;
  padding: 3px;
}

.genre_search_td {
  padding: 5px;
}

.home_body {
  padding: 3rem;
  width: 840px;
}

img {
  width: 100%;
}
