// Place all the styles related to the customer/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new-items {
  display: inline-block;
}

.new-item {
  display: inline-block;
  margin: 5px;
  border: solid 1px;
  border-style: ridge;
}

.detail {
  padding-left: 5px;
}

.container {
  display: flex;
  margin: 3rem auto;
  width: auto;
}

.container-image {
  display: inline-block;
  margin: 0px auto;
  padding: 0;
  width: 300px;
  height: 300px;
  text-align: center;

}

.container-text {
  display: inline-block;
  margin: 0px auto;
  width: 600px;
  text-align: left;
}

.detail-text {
  display: inline-block;
  width: 600px;
}

.detail-text-title {
  // font-size: 30px;
}

.detail-text-body {
  font-size: 20px;
}