<div class="container-fluid">
  <div class="row">

    <div class="col-3">
      <%= render "customer/items/search", genres: @genres %>
    </div>

    <div class="col-9">
      <div class="home_image">
        <div class="home_text">
          <p>ようこそ、ながのCAKEへ！</p>
          <p>このサイトは、ケーキ販売のECサイトになります。</p>
          <p>会員でない方も商品の閲覧はできますが、</p>
          <p>購入には会員登録が必要になります。</p>
        </div>
      </div>
    </div>
    
  </div>
</div>