<div class="container">
  <div class="row">
    <h4 class="cus_name"><%= @customer.family_name %><%= @customer.first_name %> さんの会員情報編集</h4>
  </div>
  
  <div class="row">
    <table class="cus_infoTable">
      <tr><td>会員ID</td><td><%= @customer.id %></td></tr>
      <tr><td></td><td></td><td></td></tr>
      <tr><td></td><td></td><td></td></tr>
      <tr><td></td><td></td><td></td></tr>
      <tr><td></td><td></td><td></td></tr>
      <tr><td></td><td></td><td></td></tr>
      <tr><td></td><td></td><td></td></tr>
      <tr><td></td><td></td><td></td></tr>
    </table>
  </div>
</div>