<div class="container">
  <div class="row" style="margin:30px 50px 40px 20px">
    <div class="col-lg-3 offset-lg-1">
      <h3 style="background-color: #FFE28C;vertical-align: middle;text-align: center;">ジャンル編集</h>
    </div>
  </div>
  <%= form_with model:[:admin, @genre],local: true do |f| %>
    <div class="row">
      <div class="col-lg-2 d-flex  justify-content-center align-items-center center-block">ジャンル名</div>
      <div class="col-lg-3"><%= f.text_field :name,class:"form-control"%></div>
      <div class="col-lg-2 d-flex justify-content-center"><%= f.submit '変更を保存',class:"btn btn-warning" %></div>
    </div>
  <% end %>
</div>

