// Place all the styles related to the admin/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cus_name {
  padding: 1rem;
  margin-top: 1rem;
}

.cus_infoTable {
  margin-left: 2rem;
  border-collapse: separate;
}

.cus_infoTable td {
  font-size: 1rem;
  padding-right: 4rem;
  padding-bottom: 1rem;
}

.cus_items {
  display: flex;
  margin-left: 12.2rem;
}

.cus_item {
  padding: 1rem;
}