/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

*, *::before, *::after {
    box-sizing: border-box;
}

.nav-item {
  padding: 15px;
}

.logo-image {
  padding: 5px;
}

.search {
  text-align: right;
  padding-right: 3rem;
  padding-bottom: 1rem;
  border-bottom-style: ridge;
  border-bottom-color: #FF9999;
}

.navbar {
  margin: -2px -14px ;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 70px;
  border-top-style: ridge;
  border-top-color: #FF9999;
}

.footerFixed {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 100px;
}

.nav-item {
  font-family:Droid Sans;
}