.signup_title {
  margin:2rem ;
  background-color: #DDDDDD;
  width: 16rem;
  text-align: center;
}

.form-group {
  margin: 1rem auto;
  padding-right: 18rem;
}

.field {
  margin-bottom: 1rem;
  font-size: 1rem;
  display: flex;
  white-space: nowrap;
}

.signup_label {
  padding-right: 6rem;
  width: 15rem;
}

.u_actions {
  margin-left: 10rem;
  padding-top: 0.5rem;
}

em {
    padding-left: 0.5rem;
}

.customer_field_name {
  margin-bottom: 1rem;
  font-size: 1rem;
  display: flex;
  white-space: nowrap;
}

.customer_field_name label {
  width: 13rem;
}

.span_name{
  width: 3rem;
}

.span_name1 {
  width: 3rem;
  margin-left: 3rem;
}

.customer_field {
  margin-bottom: 1rem;
  font-size: 1rem;
  display: flex;
  white-space: nowrap;
}

.customer_field label {
  width: 16rem;
}

.customer-form-group {
  margin: 1rem auto;
  padding-right: 10rem;
}

.customer_actions {
  margin-left: 16rem;
  margin-top: 2rem;
}

.login_info3 {
  margin-left: 8rem;
  margin-top: -0.5rem;
}